/*****************************************************************************/
/* AdminNav: Style */
/*****************************************************************************/
.admin-nav {
}

#logo-container {
    margin: 25px 0;
    text-align: center;
}

.logo {
	height: 120px;
}

.nav-avatar {
	/* make a square container */
    width: 30px;
    height: 30px;

    margin: 15px 0;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    border: 2px solid #D4D4D4;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
    background-color: #212121;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
    font-weight: 200;
}
@media only screen and (max-width: 992px) {
	nav .nav-wrapper a.page-title {
	    font-size: 36px;
	}

	nav .nav-wrapper {
	    text-align: center;
	}
}

a.button-collapse.top-nav.full {
    line-height: 122px;
}

@media only screen and (max-width: 600px){
	a.button-collapse.top-nav {
	    left: 5%;
	}
}


a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}