<template name="AdminNav">

    <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">{{getRouteTitle}}</a></div>
        </div>
    </nav>

    <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>

  <ul id="nav-mobile" class="side-nav fixed" style="width: 240px;">
    <div class="logo">
    	<a id="logo-container" href="/">
        	<img src="/images/galaxis-logo-black.png" width="60px;">
            <h6 class="galaxis-widen-text">Admin Panel</h6>
        </a>
    </div>
    <li class="row">
        <div class="nav-avatar" style="float:left; background-image: url({{getUserAvatar}})"></div>
        <p style="float: left; padding-left: 15px;">{{getUsername}}</p>
    </li>
    <li class="bold"><a href="/admin" class="waves-effect waves-teal">Dashboard</a></li>
    <li class="bold"><a href="/admin/posts" class="waves-effect waves-teal">Posts</a></li>
    <li class="bold"><a href="/admin/media" class="waves-effect waves-teal">Media</a></li>
    {{#if isInRole 'super-admin,admin'}}
     <li class="bold"><a href="/admin/users" class="waves-effect waves-teal">Users</a></li>
    {{/if}}
    <li class="bold"><a href="/logout" class="waves-effect waves-teal">Logout</a></li>
  </ul>
</template>
