<template name="FacebookLoginButton">
	<div class="facebook-login-button">
		<button id="facebookButton" class="btn waves-light blue"><i class="material-icons left">arrow_forward</i>Login with Facebook</button>
	</div>
</template>
