/*****************************************************************************/
/* FacebookLoginButton: Style */
/*****************************************************************************/
.facebook-login-button {
	display: inline-block;
  	vertical-align: middle;
}