<template name="ContactForm">
	{{#if done}}
	    <p>Email sent! Thank you for your interest in us.</p>
	{{else}}
	    <form id="contactForm" method="POST">
	    	<legend>Contact</legend>
	    	<div class="input-field col s12"> 
    			<label class="control-label" for="contactName">Name</label>
    			<input type="text" class="form-control" id="contactName" required>
	    	</div>

	    	<div class="input-field col s12"> 
    			<label class="control-label" for="contactEmail">Email</label>
    			<input type="text" class="form-control" id="contactEmail" required>
	    	</div>

	    	<div class="input-field col s12">
	        	<textarea id="contactMessage" class="materialize-textarea"></textarea>
	        	<label for="contactMessage">Message</label>
	        </div>

	    	<p>
    	      <input type="checkbox" id="wantsCookie" />
    	      <label for="wantsCookie">I would like a cookie with my coffee.</label>
    	    </p>
    	
	    	<button type="submit" class="btn">Send</button>
	    </form>
	{{/if}}
</template>