<template name="AdminPostList">
    <div class="admin-post-list">
  	
  		{{> pagesNav}}
		
		<table class="bordered">
		        <thead>
		          <tr>
		          		<th data-field="avatar">Avatar</th>
		                <th data-field="_id">Id</th>
		                <th data-field="date">Date</th>
		                <th data-field="name">Title</th>
		                <th data-field="price">Actions</th>
		          </tr>
		        </thead>

		        <tbody>
		        	{{> pages}}  		          
		        </tbody>
		</table>
    </div>
</template>
