<template name="SearchBar">
	<nav>
	    <div class="nav-wrapper">
	      <form>
	        <div class="input-field">
	          <input id="search" type="search" required>
	          <label for="search"><i class="material-icons">search</i></label>
	          <i class="material-icons">close</i>
	        </div>
	      </form>
	    </div>
	</nav>
</template>