<template name="AdminMedia">
    <div class="admin-media container">
    
      <div class="row">
        <form action="#">
            <div class="file-field input-field">
                <div class="btn">
                  <span>File</span>
                  <input id="mediaInput" type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
            </div>
        </form>
      </div>

      <div class="row">
        {{> AdminMediaList}}
      </div>
    </div>
</template>
