<template name="Home">
  <div class="home">

  	<div class="parallax-container">
  	    <div class="parallax"><img src="http://www.technocrazed.com/wp-content/uploads/2015/11/HD-Galaxy-Wallpapers-Free-Download-120.jpg"></div>
  	    <div class="image-overlay" style="position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,50,0.4);"></div>
  	   <!--  <img src="/images/galaxis-logo.png" width="100px" style="position: absolute; top: 50%; left: 50%; margin-top: -200px; margin-left: -50px;"> -->
  	   <svg id="promo-logo" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="64.6mm" width="64.6mm" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 228.89839 228.8982">
  	     <metadata id="metadata4217">
  	      <rdf:RDF>
  	       <cc:Work rdf:about="">
  	        <dc:format>image/svg+xml</dc:format>
  	        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
  	        <dc:title/>
  	       </cc:Work>
  	      </rdf:RDF>
  	     </metadata>
  	     <g transform="translate(-254.09 -362.12)">
  	      <path id="path4138-9-9-6-57-40-8-7-1-9-4-0-0-7-6-2-1-0-5-6-5-1-1-6-4" style="color-rendering:auto;isolation:auto;mix-blend-mode:normal;fill-rule:evenodd;shape-rendering:auto;image-rendering:auto;" d="m368.54 362.13a114.45 114.45 0 0 0 -97.047 54.049c-5.0104 16.892-6.2036 34.99-3.1776 51.94 0.6699 3.7478 1.5396 7.4351 2.6102 11.04-0.4498-1.3136-0.8739-2.6397-1.2604-3.9716-5.4637-18.878-5.2017-37.555-0.6613-54.953a114.45 114.45 0 0 0 -14.914 56.344 114.45 114.45 0 0 0 0.7779 12.603c1.1304 3.0295 2.3679 6.0071 3.7311 8.9152 12.452 26.556 34.248 47.538 64.792 55.074 17.926 4.4233 38.089 2.3003 54.564-5.7398 16.476-8.0401 29.198-21.702 33.38-40.808 2.3039-10.527 0.8057-22.512-4.0928-32.099-2.2177-4.3403-5.071-8.1673-8.5581-11.258 1.9186 2.7286 3.4703 5.704 4.5731 8.8215 4.9113 13.888 1.9159 27.937-5.3099 39.09-7.2246 11.153-18.571 19.728-31.188 23.744-4.499 1.4322-8.9883 2.3457-13.438 2.8047 1.559-0.187 3.1086-0.4118 4.6371-0.709 15.649-3.0455 29.208-11.545 36.953-26.526 1.3142-2.5403 2.3523-5.2949 3.1067-8.1511 0.4811-1.8223 0.8292-3.6897 1.0707-5.5682-0.5966 2.5453-1.4576 5.0196-2.5761 7.3618-5.7139 11.969-16.058 19.486-27.546 22.895-1.8442 0.6227-3.7195 1.1497-5.6186 1.5556-12.996 2.7778-27.084 0.818-38.845-5.2639-5.0823-2.6278-9.6216-5.7763-13.646-9.3452-12.07-10.706-19.436-25.171-22.424-40.527-3.9848-20.474-0.4601-42.671 9.6541-61.022 5.1046-9.2625 11.345-17.309 18.43-24.19-3.8982 4.0615-7.4877 8.3767-10.663 12.932-14.779 21.204-21.132 46.886-13.461 73.392 4.4662 15.434 14.914 29.799 28.132 38.71 13.217 8.9123 28.818 12.493 44.887 7.3779 1.9607-0.6245 3.8952-1.4369 5.7787-2.3907-5.6071 1.9619-11.544 2.7343-17.359 2.4364-4.0479-0.2076-8.0621-0.8951-11.958-2.0064 6.427 1.2672 13.14 1.3047 19.354-0.022 7.9508-1.6996 14.996-5.4586 20.075-11.606-5.9807 5.5043-13.848 8.8638-21.836 9.4895-12.57 0.9843-23.745-3.6662-32.289-11.21-10.134-7.2456-17.901-17.944-21.662-29.763-1.7359-5.4514-2.7193-10.894-3.0403-16.263-0.9651-16.106 4.0535-31.541 12.8-44.512 11.659-17.294 29.848-30.5 49.977-36.324 9.7418-2.819 19.432-4.1208 28.921-4.0948 13.457 0.036 26.504 2.7517 38.722 7.5698a114.45 114.45 0 0 0 -64.356 -19.825zm27.606 16.433c-1.0791-0.013-2.156-0.012-3.2326 0.011l-0.012-0.011c-5.7451 0.098-11.448 0.6399-17.027 1.6357-25.444 4.5424-48.092 18.213-61.411 42.38-7.7552 14.072-10.531 31.621-7.4853 47.269 1.5801 8.1253 4.6502 15.676 9.3178 22.154-4.8011-8.1825-7.641-17.557-8.0779-26.963-0.2659-5.715 0.191-11.228 1.2697-16.497 3.2363-15.807 12.083-29.417 23.886-39.683 0.6757-0.5882 1.3745-1.1507 2.0702-1.7181-0.3853 0.3628-0.7712 0.7213-1.1507 1.0935-0.6114 0.5947-1.2098 1.2108-1.8096 1.8302-1.7559 1.8273-3.4026 3.779-4.9551 5.8177 2.3638-2.6921 4.9091-5.2296 7.6158-7.5838 15.739-13.688 36.723-21.733 57.673-22.15 26.723-0.5313 50.361 9.0471 69.196 24.584a114.45 114.45 0 0 0 -20.738 -22.442c-14.143-6.2192-29.727-9.5524-45.134-9.7296zm-0.1899 17.716c-0.9722-0.012-1.9512-0.012-2.9352 0.014-4.9838 0.1-9.998 0.7168-14.941 1.7798-2.2876 0.4584-4.5832 1.0129-6.886 1.6792-4.7496 1.3747-9.3973 3.3195-13.818 5.7329-5.6269 2.8963-10.898 6.4051-15.575 10.473-13.833 12.03-22.585 28.519-21.678 48.056 0.5002 10.765 5.0491 21.954 12.262 29.946 3.1734 3.5161 6.7986 6.4151 10.826 8.4874 6.8637 2.4287 14.253 2.7208 21.758 0.067 1.4188-0.5016 2.8148-1.1784 4.1683-1.9674-0.4855 0.1632-0.9729 0.3169-1.4666 0.4462-3.4673 1.2234-7.1775 1.5921-10.766 1.0683-9.2405-1.3485-16.191-7.3438-20.116-14.625-0.3642-0.6753-0.6982-1.3644-1.0157-2.0613-3.7353-5.3507-6.0094-11.696-6.5131-18.121-1.1501-14.686 5.3782-27.483 15.243-36.386 9.8659-8.9035 23.045-14.25 36.272-14.863 0.7145-0.035 1.4268-0.055 2.1343-0.067 4.9558-0.076 9.7474 0.39 14.358 1.3337 15.807 3.2369 29.417 12.082 39.682 23.886 13.687 15.738 21.735 36.723 22.152 57.673 0.2097 10.574-1.1688 20.661-3.8639 30.163 1.3447-5.4663 2.2949-10.998 2.7681-16.531 2.1974-25.753-5.1454-51.168-25.041-70.287-11.584-11.133-27.813-18.351-43.716-19.459-15.903-1.1097-31.202 3.5885-42.56 16.053-1.0133 1.1116-1.964 2.3046-2.8529 3.5553-0.035 0.033-0.059 0.068-0.094 0.1007 3.8594-4.1574 8.466-7.5556 13.477-10.116 3.1018-1.5849 6.3632-2.8649 9.7159-3.8548 9.9275-3.2793 20.793-3.8902 30.939-1.67 5.5896 1.223 10.795 3.0893 15.604 5.4951 14.432 7.2174 25.288 19.282 32.149 33.341 9.1467 18.745 11.488 41.097 6.4674 61.441-4.9603 20.102-15.308 36.838-28.955 49.954a114.45 114.45 0 0 0 59.851 -100.43 114.45 114.45 0 0 0 -4.8797 -32.829c-2.5515-3.8464-5.3042-7.5362-8.2517-11.034-18.31-21.727-43.735-36.128-73.902-36.438zm-9.9582 33.323c-4.8701 0-9.8458 0.754-14.866 2.3518-1.0112 0.3218-2.0156 0.6968-3.0106 1.1096 3.3577-0.7808 6.7624-1.1475 10.153-1.1279 5.0143 0.029 9.9948 0.8835 14.735 2.418 12.643 4.0923 23.862 12.83 31.008 23.978 3.0876 4.8164 5.4495 9.8202 7.149 14.923 5.1011 15.308 4.243 31.516-0.8464 46.308-0.2916 0.8474-0.6148 1.6841-0.9334 2.5234 0.1524-0.507 0.3079-1.0092 0.4508-1.5213 0.2318-0.8207 0.441-1.6549 0.6496-2.4914 3.8501-15.6 1.9872-33.259-5.0031-47.586-6.9916-14.327-18.711-25.228-35.185-28.832-8.9382-1.9563-19.249-0.6659-27.377 3.4865-6.2723 3.2048-11.18 7.8544-13.893 14.078-0.012 0.022-0.034 0.047-0.046 0.069 2.6763-3.9337 6.3289-7.0592 10.384-9.2446 2.2836-1.2311 4.6999-2.2019 7.1879-2.9077 5.9493-2.0212 12.407-2.4927 18.51-1.3588 14.484 2.6901 25.156 12.304 31.202 24.138 6.0463 11.834 7.8021 25.949 4.9711 38.884-0.035 0.1607-0.082 0.318-0.1171 0.4781-1.7333 5.8511-4.3043 11.329-7.5197 16.368-7.2541 14.086-19.146 24.715-32.98 31.465-18.744 9.1475-41.099 11.49-61.443 6.4697-19.109-4.7153-35.17-14.304-47.978-26.965a114.45 114.45 0 0 0 97.34 54.413 114.45 114.45 0 0 0 18.956 -1.7661c19.268-9.1068 35.568-23.15 45.889-41.897 12.827-20.38 17.947-44.485 10.761-69.317-4.4662-15.434-14.914-29.806-28.132-38.717-9.0856-6.1255-19.296-9.7325-30.012-9.7273zm-7.1721 6.5223c-0.1411 0-0.2823 0.016-0.4234 0.019 1.2378-0.017 2.4742 0.012 3.704 0.098h0.06c-1.1076-0.078-2.2242-0.1171-3.3401-0.1124zm-16.632 3.5641c-0.5007 0.2259-0.9987 0.4627-1.494 0.7115 0.4948-0.2485 0.994-0.4859 1.494-0.7115zm-1.5763 0.7527c-0.5028 0.2541-1.0017 0.5225-1.4985 0.8008 0.4972-0.2784 0.9954-0.5465 1.4985-0.8008zm-22.031 8.7596c-0.094 0.1539-0.182 0.3139-0.2745 0.4691 0.094-0.1553 0.1796-0.3151 0.2745-0.4691zm-1.368 2.4022c-0.1395 0.2639-0.2702 0.533-0.405 0.8007 0.1348-0.2677 0.2655-0.5368 0.405-0.8007zm-1.2194 2.5325c-0.137 0.3092-0.2715 0.6194-0.4026 0.9333 0.13-0.3136 0.2656-0.6243 0.4026-0.9333zm-1.0798 2.688c-0.1195 0.3292-0.2421 0.6564-0.3546 0.9905 0.1172-0.3341 0.2351-0.6613 0.3546-0.9905zm40.145 2.7658c0.3361 0.036 0.6727 0.072 1.0065 0.1213-0.3338-0.05-0.6704-0.085-1.0065-0.1213zm-41.044 0.021c-0.1054 0.3822-0.2298 0.7578-0.3294 1.1461 0.094-0.3884 0.2205-0.7638 0.3294-1.1461zm14.589 0.2676c-0.1534 0.2381-0.3055 0.477-0.4507 0.7207 0.1452-0.2437 0.2973-0.4826 0.4507-0.7207zm-14.978 1.1257c-0.2038 0.823-0.3931 1.6553-0.5513 2.5049v0.014c0.1582-0.8518 0.3463-1.6868 0.5513-2.512v-0.012zm14.175 0.2126c-0.1288 0.2293-0.2581 0.4593-0.3799 0.6933 0.1218-0.2344 0.2511-0.4637 0.3799-0.6933zm-0.7253 1.3841c-0.1148 0.2366-0.2308 0.475-0.3362 0.7162 0.1077-0.2414 0.2191-0.4795 0.3362-0.7162zm-0.6337 1.4047c-0.1089 0.2619-0.2056 0.5269-0.3111 0.7938 0.1008-0.2667 0.2057-0.5322 0.3111-0.7938zm-0.5444 1.4275c-0.1171 0.3258-0.2163 0.6576-0.3158 0.9906 0.094-0.3333 0.2034-0.6645 0.3158-0.9906zm-13.186 0.5719c-0.012 0.1283-0.035 0.2558-0.046 0.3844 0.012-0.1285 0.034-0.2562 0.046-0.3844zm12.713 0.9472c-0.094 0.3558-0.1857 0.7183-0.27 1.082 0.082-0.3634 0.1704-0.7263 0.27-1.082zm-0.389 1.5877c-0.1171 0.5308-0.2132 1.0678-0.2928 1.6151 0.082-0.5473 0.1803-1.0839 0.2928-1.6151zm-12.534 0.3202c0 0.1066 0 0.2133-0.012 0.3203 0-0.1066 0-0.2136 0.012-0.3203zm0.012 2.8253c0 0.1066 0 0.2134 0.012 0.3202 0-0.1065-0.012-0.2134-0.012-0.3202zm0.2333 2.894c0 0.037 0 0.077 0.014 0.1148 0-0.038-0.014-0.077-0.014-0.1148zm44.985 21.218c-0.1745 0.2579-0.3512 0.5146-0.5397 0.7664 0.1885-0.2519 0.3652-0.5082 0.5397-0.7664zm-1.1622 1.5443c-0.199 0.2391-0.3906 0.4805-0.6015 0.7138 0.2109-0.2333 0.4025-0.4748 0.6015-0.7138zm-115.84 16.998a114.45 114.45 0 0 0 4.5959 11.436c12.465 13.87 28.374 24.805 45.521 31.005 20.258 7.3242 42.005 8.1771 62.361 0-8.4912 3.0134-17.454 4.7128-26.437 4.8911-32.015 0.6376-59.297-14.488-78.152-36.862-2.8119-3.3373-5.4423-6.8365-7.8881-10.471z"/>
  	     </g>
  	    </svg>
  	    <h1 class="white-text thin" style="width: 100%; height: 200px; position: absolute; text-align: center; top: 50%; margin-top: -70px; font-size: 6rem;">GALAXIS CMS</h1>
  	</div>


  	<div class="container">
  		<div class="row">
  			<div class="col s12 m9 l7 post-container">
	  			<!-- Sample Content to Plugin to Template -->  			
	  			<h1>Galaxis CMS is a simple Meteor JS website and blog starter</h1>
	  			<p>Easily manage posts, comments and user traffic on your website with Galaxis CMS. It uses Materialize and is fully customizable by editing the existing templates using Meteor JS. And best of all: it is completely open source. Feel free to use, edit code however you like!</p>

	  			<p>some of Galaxis CMS awesome features</p>
	  			<ol>
	  				<li>Real-time rigid back-end</li>
	  				<li>Image upload and media management</li>
	  				<li>Markdown 'ghost-like' post editor</li>
	  				<li>Easily customizable styling</li>
	  			</ol>

	  			<h2>Galaxis is CAF.</h2>
	  			<p>CAF is an abbreviation of <strong>clean as f*ck</strong>. Galaxis CMS was designed to be CAF in both feel, performance, usage and appearance. If you don´t like it, that is okay. We do, we like websites that are CAF. We like Galaxis CMS.</p>

	  			<h3>modern browser focus</h3>
	  			<p>Galaxis is a responsive, modern package intended to be used with state of the art browsers. Is it compatible with IE? No. (well, we don't know actually... We don't use IE.)</p>
	  			
	  			<p>Galaxis is aimed at modern web development and will not necessarily support older versions of the web. We strive for humane user interface design in the future, which means we will not be dealing with issues from the past.</p>

	  			<p>If you are looking for a CSS framework that still works in IE6 go have a look at <a href="http://motherfuckingwebsite.com/" target="_blank">http://motherfuckingwebsite.com/</a>.</p>

	  			<h3>It is fast</h3>
	  			<p>Galaxis CMS is fast as a result of all the Meteor JS instantaneous magic. Once you publish a post it immediately gets pushed into all visitors browsers. If you want, you can even notify them with a small message.</p>

	  			<h3>optimized data traffic</h3>
	  			<p>Because of an amazing package called <a href="https://github.com/alethes/meteor-pages" target="_blank">meteor-pages</a> by Alethes Galaxis CMS ensures that only that what is necessary is downloaded by users.</p>

	  			<h3>easy to customize</h3>
	  			<p>Galaxis uses <a href="http://materializecss.com/" target="_blank">Materialize (S)CSS</a> as a basis for its styling. This means it is relatively easy to customize in terms of styling. Next to that, the folder structure of Galaxis CMS is easy to understand and templates are quickly edited for suitable needs. Hack away!</p>

	  			<h3>markdown</h3>
	  			<p>Writing posts is done in a custom Markdown editor. You can always replace it by something you like more, but we love it! Being Markdowned posts, styling for posts is also very easy to customize. Just edit the CSS of the post-container class and voilá you are done.</p>

	  			<p>Now enjoy this awesome picture while you are completely amazed by Galaxis CMS:</p>

	  			<img src="http://coolwallpapersforfree.com/wp-content/uploads/2015/11/HD-NASA-Galaxy-Space-Background-for-Desktop.jpg">
	  			<p class="caption">Check out this awesome Nebula shot by NASA! So randomly awesome!</p>

	  			<h2>How to get started</h2>

	  			<p>Just fetch Galaxis CMS from our <a href="https://github.com/">GitHub repository</a> and get started. Below some of the main aspects are explained to get you on your way to customizing Galaxis CMS to your needs.</p>

	  			<h3>Important routes</h3>
	  			<p>The most important routes to know of are:</p>
	  			<ol>
	  				<li><strong>/admin</strong> this is the admin panel.</li>
	  				<li><strong>/posts</strong> shows all posts in a list with infinite scrolling (how fancy).</li>
	  				<li><strong>/</strong> is your homepage route.</li>
	  				<li><strong>/adminsetup</strong> is used to setup your google+ account as admin.</li>
	  			</ol>

	  			<h2>Folder structure</h2>

	  			<h3>templates structure</h3>
	  			<p>Galaxis has four template folders that you need to know of:</p>
	  			<ol>
	  				<li><strong>admin_panel:</strong> here you'll find all templates that are used for the admin panel.</li>
	  				<li><strong>layouts:</strong> here you will find the layouts used to render every 'type' of page.</li>
	  				<li><strong>pages:</strong> this is where you will find all your static and post-enabled pages.</li>
	  				<li><strong>shared:</strong> this contains templates that are used across the entire web page, they are general.</li>
	  			</ol>

	  			
	  			<h3>Performance.</h3>
	  			<p>Add you viewing ten equally believe put. Separate families my on drawings do oh offended strictly elegance. Perceive jointure be mistress by jennings properly. An admiration at he discovered difficulty continuing. We in building removing possible suitable friendly on. Nay middleton him admitting consulted and behaviour son household. Recurred advanced he oh together entrance speedily suitable. Ready tried gay state fat could boy its among shall. </p>

	  			<ol>
	  				<li>List Item 1</li>
	  				<li>List Item 2</li>
	  				<li>List Item 3</li>
	  			</ol>

	  			<p>Three chief merit no if. Now how her edward engage not horses. Oh resolution he dissimilar precaution to comparison an. Matters engaged between he of pursuit manners we moments. Merit gay end sight front. Manor equal it on again ye folly by match. In so melancholy as an sentiments simplicity connection. Far supply depart branch agreed old get our.</p>

	  			<h3>Power.</h3>
	  			<p>Material confined likewise it humanity raillery an unpacked as he. Three chief merit no if. Now how her edward engage not horses. Oh resolution he dissimilar precaution to comparison an. Matters engaged between he of pursuit manners we moments. Merit gay end sight front. Manor equal it on again ye folly by match. In so melancholy as an sentiments simplicity connection. Far supply depart branch agreed old get our.</p>


	  			<img src="http://www.glamour.com/images/slideshow/jennifer-lawrence/02-jlaw-w352.jpg">
	  			<p class="img-caption">Jenny is simply epic.</p>

	  			<hr />

  			</div>
  		</div>
  		<div class="row">
  			{{> ContactForm}}
  		</div>
    </div>
  </div>
</template>
