/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
}

#promo-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -50px;
	width: 100px;
	height: 100px;

	fill: #fff;

	-webkit-animation: promo-animation 25s linear infinite; /* Chrome, Safari, Opera */
	    animation: promo-animation 25s linear infinite;
}

@keyframes promo-animation {
    0% {
    	opacity: 1;
    	-ms-transform: rotate(0deg); /* IE 9 */
    	    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    	    transform: rotate(0deg);
    }
    50% {
    	opacity: 1;
    }
    100% {
    	opacity: 1;
    	-ms-transform: rotate(-360deg); /* IE 9 */
    	    -webkit-transform: rotate(-360deg); /* Chrome, Safari, Opera */
    	    transform: rotate(-360deg);
    }
}