<template name="AdminPosts">
	<!-- Displays all posts -->
	<div class="admin-posts container">
	    <div class="row">
	    	<button id="createDummyPosts">Create dummy</button>
	    	<div class="row">
	    		{{> SearchBar}}
	    	</div>
	    	<div class="col s12">
	    		<h3>All Posts</h3>
	    		{{> AdminPostList}}
	    	</div>
	    </div>
	</div>

	{{> AdminPostsActionButton}}
	{{#if showEditPost}}
		{{> AdminPostsEdit}}
	{{/if}}
</template>
