/*****************************************************************************/
/* AdminPosts: Style */
/*****************************************************************************/
.admin-posts {
}

.exit-container {
	position: fixed;
	right: 25px;
	top: 25px;

	width: 50px;
	height: 50px;
	z-index: 999999;

	text-align: right;
}