/*****************************************************************************/
/* AdminLayout: Style */
/*****************************************************************************/
.admin-layout {
	header, main, footer {
	    padding-left: 240px;
	}

	@media only screen and (max-width: 992px) {
		header, main, footer {
		    padding-left: 0;
		}
	}
}

