<template name="AdminLayout">
	<div class="admin-layout">
		{{#if isInRole 'super-admin,admin,blogger'}}
	    <header>
			{{> AdminNav}}
		</header>
	  	<main>
	  		{{> yield}}
	  	</main>
	  	{{else}}
	  		{{#if currentUser}}
		  		<div class="container center">
			  		<h2>Be gone! You ain't no admin...</h2>
		  		</div>
	  		{{else}}
		  		<div class="container center">
			  		{{> Login}}
		  		</div>
	  		{{/if}}
	  	{{/if}}
  	</div>
</template>
