<template name="AdminQuickMenu">
  <div class="admin-quick-menu">
  	<div class="admin-quick-menu-fixed grey darken-4">
  		<ul>
  			<li><a href="/admin" class="white-text"><i class="material-icons tiny-inline">home</i> Admin Panel</a></li>
  			<li><a href="/admin/posts" class="white-text"><i class="material-icons tiny-inline">list</i> Posts</a></li>
  			<li><a href="/admin/posts/edit/{{getPostId}}" class="white-text"><i class="material-icons tiny-inline">edit</i> Edit</a></li>
  		</ul>
  	</div>
  </div>
</template>
