/*****************************************************************************/
/* AdminQuickMenu: Style */
/*****************************************************************************/
.admin-quick-menu {
	position: relative;
	height: 35px;
	z-index: 998;
}

.admin-quick-menu-fixed {
	position: fixed;
	height: 35px;
	width: 100%;
}

.admin-quick-menu-fixed ul {
	margin: 0 1em 0 1em;
}

.admin-quick-menu-fixed ul li::first {
	margin-left: 0;
}

.admin-quick-menu-fixed ul li {
	line-height: 35px;
	float: left;
	margin-left: 15px;
}

.admin-quick-menu-fixed ul li a i {
	font-size: 20px;
	line-height: 35px;
}