/*****************************************************************************/
/* AdminPostListItem: Style */
/*****************************************************************************/
.admin-post-list-item {
	cursor: pointer;
	transition: all .3s ease;
		-webkit-transition: all .3s ease;
}

.admin-post-list-item:hover {
	background-color: #EFEFEF;
}