<template name="AdminPostListItem">
	<tr data-id="{{_id}}" class="admin-post-list-item">
		<td><a href="/show_post/{{_id}}"><img src="{{featured_thumbnail}}" width="30px" height="30px"></a></td>
	    <td>{{_id}}</td>
	    <td>{{getDateString created_at}}</td>
	    <td>{{title}}</td>
	    <td>
	    	<a href="/show_post/{{_id}}" title="Open in browser"><i class="material-icons">open_in_browser</i></a>
	    	<a class="remove-post" href="" data-id={{_id}}><i class="material-icons red-text">close</i></a>
	    </td>
	</tr>
</template>
