@import "{}/client/stylesheets/materialize-src/sass/materialize.scss";

.primary-color {
	color: $primary-color;
}

.secondary-color {
	color: $secondary-color;
}

.primary-grey {
	color: $primary-grey;
}


.primary-background {
	background-color: $primary-color;
}

.secondary-background {
	background-color: $secondary-color;
}


// Reversed link styling
.r-link {
	color: $primary-grey;
}

.r-link:hover {
	color: $link-color;
}