body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.galaxis-widen-text {
	    text-transform: uppercase;
	    letter-spacing: .2rem;
	    font-weight: 600;
}