
.show-post-title {
	font-size: 3rem;
	margin: 3rem 0 1rem 0;
}

.show-post-summary {
	font-size: 1rem;
	margin: 0 0 1rem 0;

	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: 600;

	line-height: 1.6rem;
}

.post-container {

	h1, h2, h3, h4, h5, h6 {
	  margin-top: 3rem;
	  margin-bottom: 1rem;
	  font-weight: 300; }

	h1 { font-size: 3rem; line-height: 110%;  letter-spacing: -.1rem; margin-top: 5rem;}
	h2 { font-size: 2.4rem; line-height: 110%; letter-spacing: -.1rem;}
	h3 { font-size: 1rem; line-height: 110%;  letter-spacing: -.1rem; margin-bottom: 1rem;}
	h4 { font-size: 1rem; line-height: 110%; letter-spacing: -.08rem; margin-bottom: 1rem;}
	h5 { font-size: 1rem; line-height: 110%;  letter-spacing: -.05rem; margin-bottom: 1rem;}
	h6 { font-size: 1rem; line-height: 110%;  letter-spacing: 0; margin-bottom: 1rem;}

	// Text Styles
	em { font-style: italic; }
	strong { font-weight: 600; }
	small { font-size: 75%; }


	h3 {
	    text-transform: uppercase;
	    letter-spacing: .2rem;
	    font-weight: 600;
	}

	p {
	  margin-top: 0;
	  font-size: 1.1rem;
	  color: #515151;
	}

	ol {
	  margin-top: 0;
	  font-size: 1.1rem;
	  color: #515151;
	}
	
	.caption {
		margin-top: -1rem;
		margin-bottom: 2rem;
		
		line-height: 1.5;
		text-align: center;
		font-style: italic;
		font-size: 1rem;
		text-indent: 0;
	}

	.img-caption::after {
		content: "";
	    position: absolute;
	    left: 50%;
	    top: 0;
	    width: 50px;
	    height: 1px;
	    margin-left: -25px;
	    background-color: #00c654;
	}

	img {
		margin: 2rem auto;
		display:block;

		height: auto;
		max-height: 500px;
		max-width: 100%;
	}

	hr {
		margin-top: 3rem;
		border: 0;
    	border-top: 1px solid #D7D7D7;
	}

}