<template name="AdminPostPreview">
    <div class="card small">
        <div class="card-image">
        	<img src="{{featured_url}}">
        	<span class="card-title">{{title}}</span>
        </div>
        <div class="card-content">
        	<p>{{content}}</p>
        </div>
        <div class="card-action">
        	<a href="/show_post/{{_id}}">goto post</a>
        </div>
    </div>
</template>

