<template name="AdminUsers">
  <div class="admin-users container">
    <div class="row">
    	<div class="col s12">
    		<table class="bordered">
    		    <thead>
    		        <tr>
                        <th data-field="avatar">Avatar</th>
    		            <th data-field="id" class="hide-on-med-and-down">_id</th>
                        <th data-field="name" class="hide-on-med-and-down">Name</th>
    		            <th data-field="email">Email</th>
    		            <th data-field="role">Actions</th>
    		        </tr>
    		    </thead>

    		    <tbody>
    		    	{{#each getUsers}}
    		        <tr>
                        <td><img src="{{services.google.picture}}" width="30px" height="30px"></td>
    		            <td class="hide-on-med-and-down">{{_id}}</td>
    		            <td class="hide-on-med-and-down">{{profile.name}}</td>
                        <td>{{services.google.email}}</td>
    		            <td>
                        <a id="enableBlogger" data-id="{{_id}}" href="" class="green-text"><i class="material-icons">accessibility</i></a>
                        <a id="disableBlogger" data-id="{{_id}}" href="" class="red-text"><i class="material-icons">accessible</i></a>
                        </td>
    		        </tr>
    		        {{/each}}
    		    </tbody>
    		</table>
    	</div>
    </div>
  </div>
</template>
