/*****************************************************************************/
/* Nav: Style */
/*****************************************************************************/
.nav {
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

.transparent-nav {
	background-color: rgba(0, 0, 0, 0);

	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.0), 0 2px 10px 0 rgba(0, 0, 0, 0.0);

	a {
		color: white;
	}

	ul {
		color: white;
	}

	img {
		height: 46px;
		margin: 9px 9px 9px 0px;
		float: left;
	}

	.brand-logo {
		opacity: 0;
		display: none;
	}

	.visible-logo {
		opacity: 1;
		display: inline-block;
	}

	#galaxisLogo {
		height: 46px;
		width: 46px;
		margin: 9px 9px 9px 0px;

		float: left;

		fill: #fff;
	}
}

.solid-nav {
	background-color: rgba(255, 255, 255, 1);

	a {
		color: black;
	}

	ul {
		color: black;
	}

	img {
		height: 46px;
		float: left;
		margin: 9px 9px 9px 0px;
	}

	.brand-logo {
		opacity: 1;
		display: inline-block;
		color: #222222;
	}

	#galaxisLogo {
		height: 46px;
		width: 46px;
		margin: 9px 9px 9px 0px;

		float: left;

		fill: #333;
	}
}

