/*****************************************************************************/
/* ShowPost: Style */
/*****************************************************************************/
.show-post {
}

.show-post-intro {
	margin-bottom: 2rem;
}

.social-button {
	padding: 0 2rem;
	height: 36px;
	line-height: 36px;
	font-size: 18px; 
	border-left: 1px #CFCFCF solid;
}

.social-button:last-child {
	border-right: 1px #CFCFCF solid;
	border-left: 1px #CFCFCF solid;
}

.info-bar {
	width: 100%;

	border-top: 1px #EBEBEB solid;
	border-bottom: 1px #EBEBEB solid;

	text-align: center;
	padding: 5px 0;

	margin: 3rem 0 1rem 0;

	opacity: 0.6;
	-webkit-transition: all 0.6s ease;
		transition: all 0.6s ease;
}

.info-bar:hover {
	opacity: 1;
}

.social-bar {
	display: inline-block;
	height: 36px;
	vertical-align: middle;
}

.author-bar {
	display: inline-block;
	height: 36px;
	vertical-align: middle;
}

.show-post-author {
	/*display: inline;*/
	margin: 0;
	line-height: 36px;
	/*float: left;*/
	font-style: italic;
	padding: 0 2rem;
}

.show-post-details {
	margin: 0;
	font-style: italic;
}