<template name="ShowPost">
	<article>
		<div class="parallax-container">
	    	<div class="parallax"><img src="{{getPost.featured_url}}"></div>
	    </div>

        <div class="container show-post">
        	<div class="row">
        		<div class="col s12 m10 l8 offset-m1 offset-l2 show-post-intro">

    		    	<div class="info-bar">
    		    		<!-- <div class="author-bar">
	    		    		<p class="show-post-author primary-grey">
	    		    			<i class="material-icons tiny-inline">timer</i>
	    		    			{{getTimeAgo getPost.created_at}}, {{getPost.author.name}}
	    		    		</p>
    		    		</div> -->
    		    		<div class="social-bar">
    		    			{{> shareit shareData}}
    		    		</div>
    		    	</div>	

    		    	<h1 class="show-post-title">{{getPost.title}}</h1>
    		    	<blockquote><h2 class="show-post-summary grey-text text-darken-1">
    		    		{{getPost.summary}}
    		    	</h2></blockquote>

    		    	<p class="show-post-details grey-text" >
    		    		<i class="material-icons tiny-inline">timer</i>
    		    		{{getTimeAgo getPost.created_at}}, {{getPost.author.name}}
    		    	</p>
    		    </div>
    		</div>
        </div>
	    

	    <div class="container">
		    <div class="row">
		    	<div class="col s12 m10 l8 offset-m1 offset-l2 post-container">
		    		{{#markdown}}{{getPost.content}}{{/markdown}}
		    		<hr>
		    	</div>
		    </div>
	    </div>
    </article>

    <div class="container">
    	<div class="row">
    		<div class="col s12 m10 l8 offset-m1 offset-l2 post-container" style="text-align: center;">
    			
    			<h3>Share this post</h3>
    			{{> shareit shareData}}
    		</div>
    	</div>
	   <!--  <div class="row">
	    	<div class="col s12 m10 l8 offset-m1 offset-l2 post-container" style="text-align: center;">
	    		<h3>Comments</h3>
	    	</div>
	    </div> -->
    </div>
</template>
