<template name="Posts">
  <div class="posts">

  		<div class="parallax-container">
  		    <div class="parallax"><img src="http://wallpapercave.com/wp/pgQy6QQ.jpg"></div>
  		</div>

	    <div class="container">
		  	<div class="row">
		  		<h1>All Posts</h1>
		  	</div>
<!-- 		  	<div class="row">
		  		{{> pagesNav}}
		  	</div> -->
		  	<div class="row">
		  		{{> pages}}
		  	</div>
	    </div>
  </div>
</template>
