/*****************************************************************************/
/* GoogleLoginButton: Style */
/*****************************************************************************/
.google-login-button {
	display: inline-block;
  	vertical-align: middle;
}