<template name="GoogleLoginButton">
	<div class="google-login-button">
		<button id="googleButton" class="btn waves-light red"><i class="material-icons left">arrow_forward</i>Login with Google</button>
	</div>
</template>
