/*****************************************************************************/
/* AdminPostsNew: Style */
/*****************************************************************************/
.admin-posts-new {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	z-index: 9997;
	background-color: white;

	overflow-y: scroll;
}

.markup-wrapper {
	position: relative;
	width: 100%;
	height: 45px;
}

.markup-menu {
	z-index: 9999;
	position: fixed;
	width: 100%;
	background-color: white;
	height: 45px;
	margin: 0;
}

.markup-menu li::first-child {
	margin-left: 0rem;
}

.markup-menu li {
	float: left;
	margin-left: 1rem;
	line-height: 45px;
}

.markup-menu a {
	cursor: pointer;
}

.markup-menu i {
	vertical-align: middle;
}



.media-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.markup-menu li a label {
    display: inline-block;
    cursor: pointer;
    color: inherit;
}

.markup-menu li:focus a label,
.markup-menu li a label:hover {
    cursor: pointer;
    color: inherit;
}

#media-icon {
	cursor: pointer;
}

.featured-input-container {
	position: absolute;
	right: 0;
	top: 0;

	width: 40px;
	height: 40px;

	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    label {
    	margin: 0;
    	left: -30px;
    	top: 8px;
    }
}