<template name="AdminPostsNew">
  <div class="admin-posts-new">
    <div class="markup-wrapper">
      <ul class="markup-menu">
        <li><a id="makeBold" title="Make selection bold"><i class="material-icons">format_bold</i></a></li>
        <li><a id="makeItalic" title="Make selection italic"><i class="material-icons">format_italic</i></a></li>
        <li><a id="makeQuote" title="Make selection a quote"><i class="material-icons">format_quote</i></a></li>
        <li><a id="makeCaption" title="Insert Caption"><i class="material-icons">short_text</i></a></li>
        <li><a id="insertLink" title="Make selection a link"><i class="material-icons">insert_link</i></a></li>
        <li>
          <a title="Upload image">
            <input class="media-input" id="mediaInput" name="mediaInput" type="file">
            <label for="mediaInput"><i id="media-icon" class="material-icons">file_upload</i></label>
          </a>
        </li>
        <li><a title="Toggle nightmode" id="night-mode" data-mode="day"><i class="material-icons blue-text">brightness_high</i></a></li>
        <li><a title="Publish" id="markup-publish"><i class="material-icons secondary-color">publish</i></a></li>
      </ul>  
    </div>
    <div class="row">
    	<div class="col s12 m6">
            <div class="section">
          		<form id="newPost" action="" method="POST">
                    <div class="row">
                			<div class="input-field col s12"> 
                				<label class="control-label" for="">Title</label>
                				<span class="help-block"></span>
                				<input type="text" class="form-control" id="postTitle" required>
                			</div>
                    </div>

                    <div class="row">
                      <div class="input-field col s8"> 
                        <label class="control-label" for="">Tags</label>
                        <span class="help-block"></span>
                        <input type="text" class="form-control" id="postTagInput">
                      </div>
                      <div class="input-field col s4">
                        <a class='dropdown-button btn' href='#' data-activates='tagCollection' style="width: 100%;">Tags</a>
                        <ul id='tagCollection' class='dropdown-content'>
                        {{#each getTags}}
                          <li><a href="" class="tag-remover">{{this}}<i class="material-icons red-text tiny-inline">close</i></a></li>
                        {{/each}}
                        </ul>
                      </div>
                    </div>

                    <div class="row"> 
                      <div class="input-field col s12">
                          <label class="control-label" for="">Featured Image</label>
                          <span class="help-block"></span>
                          <input type="text" class="form-control" id="featuredUrl" required>

                          <div class="featured-input-container" style="background-image: url('{{getPostFeatured}}')">
                            <input class="media-input" id="featuredInput" name="featuredInput" type="file">
                            <label id="featuredInput" for="featuredInput"><i id="media-icon" class="material-icons white">file_upload</i></label>
                          </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                          <textarea id="postSummary" class="materialize-textarea" maxlength="250" required></textarea>
                          <label for="postSummary">Summary</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                          <textarea id="postContent" class="materialize-textarea" required></textarea>
                          <label for="postContent">Content</label>
                        </div>
                    </div>
          			
          			<button id="publishButton" type="submit" class="btn" form="newPost">Publish</button>
          		</form>
            </div>
    	</div>
        <div class="col s12 m6" style="padding-left: 2em;">
          <h1 class="show-post-title">{{getPostTitle}}</h1>
          <blockquote><h2 class="show-post-summary grey-text text-darken-1">
            {{getPostSummary}}
          </h2></blockquote>
        </div>
        <div class="col s12 m6 post-container" style="padding-left: 2em;">
            {{#markdown}}{{getMarkdownText}}{{/markdown}}
        </div>
    </div>
  </div>
</template>
