<template name="PostListItem">
	<article>
		<a href="/show_post/{{_id}}">
			<div class="row post-list-item">

				<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
					<line class="top" x1="100%" y1="0" x2="200%" y2="0"/>
					<line class="left" x1="0" y1="0" x2="0" y2="-100%"/>
					<line class="bottom" x1="0" y1="100%" x2="-100%" y2="100%"/>
					<line class="right" x1="100%" y1="100%" x2="100%" y2="200%"/>
				</svg>

				<div class="col s12 m1 l1">
					<p class="grey-text">
						<i class="material-icons tiny-inline">timer</i>
						{{getTimeAgo created_at}}
					</p>
				</div>
				<div class="col s12 m5 l5">
					<div class="image-container" style="background-image: url('{{featured_url}}')"></div>
				</div>
				<div class="col s12 m6 l6 post-content">
					<h5 class="post-title">{{title}}</h5>
					<p class="grey-text text-darken-2">{{getSummary}}</p>
					<p><em>by {{author.name}}</em></p>
				</div>
			</div>
		</a>
	</article>
</template>
