/*****************************************************************************/
/* PostListItem: Style */
/*****************************************************************************/
.post-list-item {
	position: relative;
	// min-height: 280px;
	// max-height: 280px;
	width: 100%;
	padding: 15px;
	margin-bottom: 6rem !important;

	opacity: 0.85;
	transition: opacity .3s ease;

	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.post-list-item:hover {
	opacity: 1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}


.post-list-item svg {
	position: absolute;
	top: 0;
	left: 0;
}

.post-list-item svg line {
	stroke-width: 2;
	stroke: #CCCCCC;
	fill: none;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.post-list-item:hover svg line {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.post-list-item svg line.top,
.post-list-item svg line.bottom {
	//stroke-dasharray: 150% 50%; 
}

.post-list-item svg line.left,
.post-list-item svg line.right {
	//stroke-dasharray: 50% 50%;
}


.post-list-item:hover svg line.top {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.post-list-item:hover svg line.bottom {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.post-list-item:hover svg line.left {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.post-list-item:hover svg line.right {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}


.post-content {
	height: 250px;
	overflow-y: hidden;

	color: #313131;

	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.post-list-item:hover .post-content {
	color: inherit;	
}

.image-container {
	width: 100%;
	height: 250px;

	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.post-title {
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-weight: 600;
}