<template name="AdminPostsActionButton">
  	<!-- Button that displays actions to create new post etc. -->
  	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  	    <a id="newPostButton" class="btn-floating btn-large teal">
  	      <i class="large material-icons">mode_edit</i>
  	    </a>
  	    <ul>
  	      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
  	      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
  	      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
  	      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  	    </ul>
  	</div>

  	<!-- This ensures we don't see the new post overlay untill it is needed -->
    {{#if showNewPost}}
		<div class="exit-container">
		    <a id="closeNewPost" href=""><i class="material-icons grey-text">close</i></a>
		</div>
		{{> AdminPostsNew}}
    {{/if}}
</template>