<template name="MasterLayout">
	{{#if isInRole 'super-admin,admin,blogger'}}
		{{> AdminQuickMenu}}
	{{/if}}
	<header>
		{{> Nav}}
	</header>
	<main>
		{{> yield}}
	</main>
	<footer>
		{{> Footer}}
	</footer>
</template>
